:root {
  --bs-primary: #627099;
  --bs-primary-rgb: 98, 112, 153;
  /* --bs-secondary: #ffebce; */
  /* --bs-secondary-rgb: 255, 235, 206; */
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Tahoma', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

li {
  text-align: left;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
